/* Reset CSS */
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html{
  font-family: Arial, Helvetica, sans-serif;  
}
/*
1. từ ngoài vào trong,
2. tư trên xuống dưới
3. Tổng quan chi tiết
1. vị trí của nó: đầu trang bên trong main. tính chất blcok có chiều ngàn bưangf chiều ang của web
(width, height)
2. kích thước của nó 
3. mày ắc của nó
4. kiểu dáng của nó: kiểu chữ: thăng , nghiêng , tròn 

*/
#main {

}
#header {
    height: 46px;
    background-color:#000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#nav {
   display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav li{
    display: inline-block;
    position: relative;

}
#nav > li > a{
    color:#fff;
    text-transform: uppercase;
}
#nav li a{
    color:white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
 
}
#nav > li:hover > a{
    color: black;
    background-color: #ccc;

}
#nav li:hover a{
    color:#000;
    background-color: #ccc;
}

#nav .subnav{
    display: none; 
    min-width: none;
   position: absolute;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0,0, 0.3)

}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;

}
#nav .nav-arrow-down {
    font-size: 14px;

}
#header .search-btn{
    float: right;

}
#header .search-btn{
    color:#fff;
    font-size: 20px;
}
#nav li:hover .subnav{
    display: block;
    
}
#nav .subnav li:hover {
    color:#000;
    background-color: #ccc;
    
}
#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
  

}
#content {
    height: 1000px;


}
#footer {

}